/* general */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  color: black;
  opacity: .4;
  font-size: 15px;
}

a{
  text-decoration: none;
}
/* layout */
.container{
  width: 1170px;
  margin: 30px auto;
}
.nav-left{
  width: 39%;
}
.nav-right{
  width: 60%;
}
.nav-right{
  justify-content: flex-end;
}
/* utility */
.flex{
  display: flex;
}
/* header navbar */
/* logo */
img{
  width: 100px;
}
.info{
  list-style: none;
  align-items: center;
}
.info li{
  text-transform: uppercase;
}

/* nav right menu */
.menu{
  list-style: none;
  align-items: center;
}
/* dropdown */
.dropdown-products .menu-products ul,
.dropdown-firm .menu-firm ul{
  list-style: none;
}
.dropdown-products,
.dropdown-firm{
  position: relative;
}
.menu-products ul li,
.menu-firm ul li{
  margin-left: 0px;
  line-height: 40px;
}
.menu-products{
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  transform: translateX(-25%);
  width: 255px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid black;
  padding: 0px 20px;
  font-size: 13px;
}





.menu-firm{
  position: absolute;
  top: 100%;
  border-radius: 5px;
  border: 1px solid black;
}
.menu-firm{
  display: none;
}
/* button */
.info li,
.menu li,
button{
  margin-left: 30px;
}
.fa-angle-down{
  position: relative;
  top: 3px;
}
button{
  padding: 8px 20px;
  font-size: 17px;
  border-radius: 20px;
  box-shadow: none;
  cursor: pointer;
  color: white;
  background-color: #eb008e;
  opacity: 1;
}
